/***************************** Main CSS *****************************/

:root {
  --g1: rgb(0, 78, 0); /* separation menu  */
  --g2: green; /* menu itself n logo login */
  --g3: rgb(45, 182, 45); /* active */
  --w: white; /* icons n button  */
}

a:focus,
a:hover,
a {
  outline: none;
  text-decoration: none;
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: Garamond, Brush Script MT;
  font-weight: bold;
  color: var(--w);
}

h3 i {
  color: var(--g2);
}

/* Forms */

.form {
  padding: 10px;
  height: 300px;
  display:inline-block;
}

.form input {
  margin-bottom: 12px;
  border-radius: 3px;
  display:inline-block;
}

 .form input:focus {
  box-shadow: none;
}

 .form button {
  margin-top: 20px;
}


/***************************** Login Page *****************************/

body#login {
  background: url("../img/bglogin.png") no-repeat center center fixed;
  background-size: cover;
}

body#login .card {
  width: 400px;
  border: none;
}

body#login .btr {
  border-top-right-radius: 5px !important;
}

body#login .btl {
  border-top-left-radius: 5px !important;
}

body#login .nav-link {
  color: var(--w);
}

body#login .nav-item > a:hover {
  text-decoration: underline;
  color: var(--w);
}

body#login .nav-item .nav-link.active {
  background-color: var(--g2);
}

body#login .nav-item {
  display: table-cell;
  background-color: var(--g3);
}

body#login .nav-pills {
  display: table;
  width: 100%;
}

body#login .nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid var(--g1);
}


body#login h3 {
  color: var(--g2);
}

/***************************** Home Page *****************************/

#home {
  background: #f6f7fa;
}

#navigation {
  background: var(--g2);
  height: auto;
  padding: 0;
}


.display-table {
  display: table;
  padding: 0;
  height: 100%;
  width: 100%;
}

.display-table-row {
  display: table-row;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  float: none;
  height: 100%;
}

.v-align {
  vertical-align: top;
}
.logo img {
  max-width: 180px;
  padding: 16px 0 17px;
  width: 100%;
}

.add-modal {
  background: var(--g2) none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  position: relative;
}

.add-modal::before {
  background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
  content: "";
  height: 12px;
  left: 17px;
  position: absolute;
  top: 12px;
  width: 12px;
}

.add-modal:hover {
  color: #ffffff;
}

.icon-info {
  position: relative;
}

.navi i {
  font-size: 20px;
}
.label.label-primary {
  border-radius: 50%;
  font-size: 9px;
  left: 8px;
  position: absolute;
  top: -9px;
}

.icon-info .label {
  border: 2px solid #ffffff;
  font-weight: 500;
  padding: 3px 5px;
  text-align: center;
}

.view {
  background: var(--w) none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px 15px;
}

.navbar-content > span {
  font-size: 13px;
  font-weight: 700;
}

.img-responsive {
  width: 100%;
}
#navigation {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.search input {
  border: none;
  font-size: 15px;
  padding: 15px 9px;
  width: 100%;
  color: #8492af;
  border: 1px solid #bdc4d4;
}

header {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
  display: inline-block !important;
  line-height: 23px;
  padding: 15px;
  transition: all 0.5s ease 0s;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.logo {
  text-align: center;
}

.navi a {
  border-bottom: 1px solid var(--g1);
  border-top: 1px solid var(--g1);
  color: #ffffff;
  display: block;
  font-size: 17px;
  font-weight: 500;
  padding: 28px 20px;
  text-decoration: none;
}

.navi i {
  margin-right: 15px;
  color: var(--w);
}

.navi .active a {
  background: var(--g3);
  border-left: 5px solid var(--w);
  padding-left: 15px;
  color: var(--w);
}

.navi a:hover {
  background: var(--g3) none repeat scroll 0 0;
  border-left: 5px solid var(--w);
  display: block;
  padding-left: 15px;
  color: var(--w);
}

.navbar-default {
  background-color: var(--w);
  border-color: var(--w);
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--g2);
}

.circle-logo {
  margin: 0 auto;
  max-width: 30px !important;
  text-align: center;
}

.user-dashboard {
  padding: 0 20px;
}

.user-dashboard h1 {
  color: var(--g2);
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 21px 0;
}
.sales {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #d4d9e3;
  display: inline-block;
  padding: 9px;
  width: 100%;
}
.sales button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #dadee7;
  border-radius: 100px;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding-right: 32px;
  color: var(--g2);
}

.sales .btn-group {
  float: right;
}
.sales h2 {
  color: #8492af;
  float: left;
  font-size: 21px;
  font-weight: 600;
  margin: 0;
  padding: 9px 0 0;
}
.btn.btn-secondary.btn-lg.dropdown-toggle > span {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.sales .dropdown-menu {
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 8px;
  width: 100%;
  color: var(--g2);
}
.sales .btn-group.open .dropdown-toggle,
.btn.active,
.btn:active {
  box-shadow: none;
}
.sales .dropdown-menu > a {
  color: var(--g2);
  display: inline-block;
  font-weight: 800;
  padding: 9px 0;
  text-align: center;
  width: 100%;
}
#my-cool-chart svg {
  width: 100%;
}
.sales .dropdown-menu > a:hover {
  color: var(--w);
}
.shield-buttons {
  display: none;
}

.modal-body input {
  border: 1px solid #d4d9e3;
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
  padding: 14px 10px;
  width: 100%;
  color: #8492af;
}
.modal-body textarea {
  border: 1px solid #d4d9e3;
  font-size: 14px;
  font-weight: 300;
  height: 200px;
  margin-top: 5px;
  padding: 9px 10px;
  width: 100%;
  color: #8492af;
}
.modal-header.login-header h4 {
  color: black;
}
.modal-footer .add-modal {
  background: var(--g2) none repeat scroll 0 0;
  border: medium none;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  position: relative;
}
.modal-footer .add-modal::before {
  display: none;
}
.modal-footer {
  border: 0 none;
  padding: 10px 15px 26px;
  text-align: right;
}
.cancel {
  background: var(--g2);
  border: medium none;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  position: relative;
  background-color:gray;
}
.modal {
  top: 20%;
}

.search input:focus {
  line-height: 12px;
  transition: 0.1s all;
}
.modal-header.login-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media screen and (min-width: 600px) {
  .navi {
    min-height: 100vh;
  }
}
